extends layout

block content
  .hero-section
    h1 Question for #{currentPlayer.name}
    h2= question.question

    // Display answer options
    form(action="/game/submit-answer", method="POST")
      div
        label
          input(type="radio" name="answer" value="A") A) #{question.option_a}
      div
        label
          input(type="radio" name="answer" value="B") B) #{question.option_b}
      div
        label
          input(type="radio" name="answer" value="C") C) #{question.option_c}
      div
        label
          input(type="radio" name="answer" value="D") D) #{question.option_d}
      button.btn(type="submit") Submit Answer
